<div class="page-container">
    <div style="min-height: 60vh">
        <div class="row">
            <div class="col-6">
                <h2 class="title1">Courses List</h2>
            </div>
            <div *Secured="'ROLE_ADMIN'" class="col-6">
                <button mat-stroked-button type="button" style="float: right" (click)="openCourseModal(coursesModal)"><mat-icon>add</mat-icon> Add Course</button>
            </div>
        </div>
        <div [hidden]="tblLoading || this.coursesList.length === 0" class="mat-elevation-z8 courses-tbl">
            <table mat-table [dataSource]="dataSource" style="width: 100%">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Course Title</th>
                    <td mat-cell *matCellDef="let element" data-label="Course Title"> {{element?.title}} </td>
                </ng-container>

                <ng-container matColumnDef="instructorName">
                    <th mat-header-cell *matHeaderCellDef>Instructor</th>
                    <td mat-cell *matCellDef="let element" data-label="Instructor"> {{element?.instructorName}} </td>
                </ng-container>

                <ng-container matColumnDef="period">
                    <th mat-header-cell *matHeaderCellDef> Period</th>
                    <td mat-cell *matCellDef="let element" data-label="Period"> {{element?.period}} hrs</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price</th>
                    <td mat-cell *matCellDef="let element" data-label="Price"> {{element?.price}} EGP</td>
                </ng-container>
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" data-label="View">
                        <a (click)="showCourse(element , viewCourseModal)" style="cursor: pointer">
                            <mat-icon>visibility</mat-icon>
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions</th>
                    <td mat-cell *matCellDef="let element; let i = index" data-label="Actions">
                      <ng-container *Secured="'ROLE_ADMIN'">
                          <button mat-button mat-icon-button [matMenuTriggerFor]="menu"> <mat-icon>more_vert</mat-icon> </button>
                          <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="openCourseModal(coursesModal ,  element , i)">Edit Course</button>
                              <button mat-menu-item (click)="deleteCourse(element.id , i)">Delete Course</button>
                          </mat-menu>
                      </ng-container>
                      <ng-container *Secured="'ROLE_NORMAL_USER'">
                          <button mat-stroked-button *ngIf="!element.enrolled" type="button" (click)="enrollInCourse(element.id , i)">
                              <i *ngIf="coursesList[i].enrolling" class="fa fa-spinner fa-spin"></i>
                              Enroll</button>
                          <button mat-stroked-button *ngIf="element.enrolled" type="button" color="accent" (click)="exitFromCourse(element.id , i)">
                              <i *ngIf="coursesList[i].exiting" class="fa fa-spinner fa-spin"></i>
                              Exit</button>

                      </ng-container>
                    </td>
                </ng-container>
                <tr mat-header-row class="courses-tbl-header" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [hidden]="dataSource?.data.length <= pageSize" #paginator [pageSize]="pageSize"
                           showFirstLastButtons></mat-paginator>
            <app-loading *ngIf="tblLoading"></app-loading>
        </div>
        <div *ngIf="(!tblLoading) && coursesList.length === 0" style="text-align: center">
            <h1 *Secured="'ROLE_ADMIN'" style="color: #007ec1;">No courses is running on the app, please add some courses!</h1>
            <h1 *Secured="'ROLE_NORMAL_USER'" style="color: #007ec1;">No courses is running on the app, please check later..</h1>
        </div>
    </div>
</div>

<ng-template #viewCourseModal let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #bbc3ff;">
        <h4 class="modal-title">{{selectedCourse.title}}</h4>
        <button mat-icon-button class="icon-button" type="button" aria-label="Close" (click)="d('Cross click')">
            <mat-icon style="color: #010101;">cancel</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <h5>Instructor: {{selectedCourse.instructorName}}</h5>
        <p>{{selectedCourse.description}}</p>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col-6">
                <h6 style="display: inline-flex;">Period : </h6>
                <h6 style="display: inline-flex;">{{selectedCourse?.period || 0}} Hours</h6>
            </div>
            <div class="col-6">
                <h6 style="display: inline-flex;">Price : </h6>
                <h6 style="display: inline-flex;">{{selectedCourse?.price || 0}} EGP</h6>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" (click)="d('Cross click')">Done</button>
    </div>
</ng-template>

<ng-template #coursesModal let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #bbc3ff;">
        <h4 class="modal-title">{{modalAction | titlecase}} Course</h4>
        <button mat-icon-button class="icon-button" type="button" aria-label="Close" (click)="d('Cross click')">
            <mat-icon style="color: #010101;">cancel</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="coursesForm">
            <div class="custom-input" style="margin-bottom: 2rem">
                <label for="course-title">Title</label>
                <input class="form-control"
                       id = "course-title"
                       formControlName="title"
                       [class.invalid-input]="title.errors && title.dirty"
                       placeholder="Title">
                <label class="error-explain" *ngIf="title.errors?.required && title.dirty">Title is required</label>
            </div>
            <div class="custom-input" style="margin-bottom: 2rem">
                <label for="course-instructor">Instructor Name</label>
                <input class="form-control"
                       id = "course-instructor"
                       formControlName="instructorName"
                       [class.invalid-input]="instructorName.errors && instructorName.dirty"
                       placeholder="Instructor">
                <label class="error-explain" *ngIf="instructorName.errors?.required && instructorName.dirty">Instructor is required</label>
            </div>
            <div class="custom-input" style="margin-bottom: 2rem">
                <label for="course-description">Description</label>
                <textarea class="form-control"
                          id = "course-description"
                          formControlName="description"
                          [class.invalid-input]="description.errors && description.dirty"
                          placeholder="Description"></textarea>
                <label class="error-explain" *ngIf="description.errors?.required && description.dirty">Description is required</label>
                <label class="error-explain" *ngIf="description.errors?.minlength && description.dirty">Description is too short, it must be more than 10 characters</label>
                <label class="error-explain" *ngIf="description.errors?.maxlength && description.dirty">Description is too long, it can't be more than 250 characters</label>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="custom-input" style="margin-bottom: 2rem">
                        <label for="course-period">Period</label>
                        <input class="form-control"
                               type="number"
                               id = "course-period"
                               formControlName="period"
                               [class.invalid-input]="period.errors && period.dirty"
                               placeholder="Period">
                        <label class="error-explain" *ngIf="period.errors?.required && period.dirty">Period is required</label>
                        <label class="error-explain" *ngIf="period.errors?.min && period.dirty">Period must pe positive</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="custom-input" style="margin-bottom: 2rem">
                        <label for="course-price">Price</label>
                        <input class="form-control"
                               type="number"
                               id = "course-price"
                               formControlName="price"
                               [class.invalid-input]="price.errors && price.dirty"
                               placeholder="Price">
                        <label class="error-explain" *ngIf="price.errors?.required && price.dirty">Period is required</label>
                        <label class="error-explain" *ngIf="price.errors?.min && price.dirty">Period must pe positive</label>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-stroked-button type="button" (click)="saveCourse()">
            <i *ngIf="btnLoading" class="fa fa-spinner fa-spin"></i>
            Save</button>
        <button mat-stroked-button type="button" (click)="d('Cross click')">Cancel</button>
    </div>
</ng-template>
